/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #2e8555;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #db8a3d;
  --ifm-color-primary-dark: #d57c27;
  --ifm-color-primary-darker: #c97525;
  --ifm-color-primary-darkest: #a5601f;
  --ifm-color-primary-light: #df9855;
  --ifm-color-primary-lighter: #e29f60;
  --ifm-color-primary-lightest: #e8b584;;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

.image-team {
  height: 500px;
}

.image-team img {
  height: 500px;
  width: 100%;
  object-fit: cover;
}

.features_src-components-HomepageFeatures-styles-module,
.features_t9lD {
  display: block !important;
  padding: 0 !important;
}